﻿<h2>SignalTest</h2>
<ul id="discussion"></ul>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
        $(function () {
            var chat = $.connection.testHub;

            chat.client.empty = function () {
                $('#discussion').empty();
            };          

            chat.client.showDriveInfo = function (name, total, free) {
                $('#discussion').append('<li>' + name + ':&nbsp;' + total + ':&nbsp;' + free + '</li>');
            };

            $.connection.hub.start();
        });
</script>